.container {
  border-radius: 15px;
  padding: 0;
}

.container-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.card-body {
  margin-left: 10px;
}
.container-custom {
  border: 1px solid rgba(0, 0, 0, 0.274);
}
