.container_home {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: center;
}
.card {
  z-index: -1;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container_home {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.container {
  max-width: 95%;
}
.img_home {
  height: 250px;
}
.products-title {
  padding: 3%;
}
.card-link {
  text-decoration: none;
}
.card-image {
  height: 300px;
  border-radius: 10px 10px 0px 0px;
}
